@use 'variables' as v;
@use 'mixins' as m;
@use 'functions' as f;

.faq{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;

    &__container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        min-width: 1000px;
        max-width: 1000px;

        @include m.breakpoint('sm'){
            min-width: 100%;
            max-width: 100%;
        }

        &__item{
            
            .faq__title{
                transition: all .3s ease;
                width: 100%;
                justify-content: space-between;
                text-align: start;

                svg{
                    transition: all .3s ease;
                }

                &[aria-expanded="true"]{
                    svg{
                        transform: rotate(45deg);
                    }

                    border-radius: 4px 4px 0 0;
                    background: v.$bg-gradient-light;
                    border-color: v.$border-color-light;
                    border-bottom: 0px;
                    transition: border-radius none;
                }

                h4{
                    font-size: f.rem(20);
                    font-weight: 500;

                    @include m.breakpoint('sm'){
                        font-size: f.rem(18);
                    }
                }
            }

            .faq__content{
                display: grid;
                grid-template-rows: 0fr;
                transition: all .3s ease;
                background: v.$bg-gradient-light;
                padding: 0 16px;

                &[aria-hidden="false"]{
                    grid-template-rows: 1fr;
                    padding-block: f.rem(18);
                    border: 1px solid v.$border-color-light;
                    border-top: 0px;
                    border-radius: 0 0 4px 4px;
                }

                & > div{
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    iframe{
                        border-radius: 4px;
                    }
                }
            }
        }
    }
}