@use 'variables';
@use 'mixins';
@use 'animations';

header[data-active="true"]{
    z-index: 3;
    background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0.8) 10%, transparent);
    height: 200px;
    margin: 0px 0px;
    @include mixins.breakpoint('sm'){
        height: auto;
    }
}

header{
    position: sticky;
    top: 0;
    display: flex;
    align-items: start;
    z-index: 4;
    transition: all 0.3s ease;

    & > div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .header-logo{
        width: 100px;
        transition: all 0.3s ease;
        @include mixins.breakpoint('sm'){
            width: 70px;
        }

        a{
            display: flex;
            height: 100%;
            align-items: center;
            align-items: start;
        }

        img{
            width: 100%;
        }
    }
    .header-logo[aria-hidden="true"]{
        visibility: hidden;
        opacity: 0;
    }
}

.menu{
    display: flex;
    gap: 16px;
    @include mixins.breakpoint('sm'){
        gap: 8px
    }

    .btn-dropdown{
        &__select{
            @include mixins.breakpoint('sm'){
                padding: 12px 12px;
                font-size: 12px;
            }

            svg:last-child{
                height: 8px;
                width: 8px;
            }
        }
    }

    a.btn-success:last-child{
        width: max-content;
        height: min-content;
        text-decoration: none;
        @include mixins.breakpoint('sm'){
            padding: 12px 12px;
            font-size: 12px;
        }

        background: linear-gradient(120deg, #2AD755, #00C030, #2AD755,
        #00C030, #2AD755, #00C030, #2AD755);
        background-size: 500% 500%;
        transition: opacity 0.3s ease;
        border-radius: 4px;

        &:hover {
            animation: gradient 4s ease infinite;
            opacity: 1;
        }
    }
}


.btn-dropdown{
    position: relative;

    &__select[aria-expanded="true"]{
        transition: all 0.3s ease;
        background: variables.$bg-gradient-light;
        border: 1px solid variables.$border-color-light;
        color: variables.$secondary-color;
    }

    &__select[aria-expanded="true"] > svg{
        transition: all 0.3s ease;
        fill: variables.$secondary-color;
    }

    &__select[aria-expanded="true"] svg:last-child{
        transition: transform 0.3s ease;
        transform: rotate(-180deg);
    }

    &__select[aria-expanded="false"] svg:last-child{
        transition: transform 0.3s ease;
        transform: rotate(0deg);
    }

    &__select[aria-expanded="true"] + &__options{
        visibility: visible;
    }

    &__select[aria-expanded="true"] + &__options .option-1{
        animation: slideInY 0.2s ease forwards;
    }

    &__select[aria-expanded="true"] + &__options .option-2{
        animation: slideInY 0.4s ease forwards;
    }

    &__select[aria-expanded="false"] + &__options .option-1{
        animation: slideOutY 0.2s ease forwards;
    }

    &__select[aria-expanded="false"] + &__options .option-2{
        animation: slideOutY 0.4s ease forwards;
    }


    &__options{
        margin-top: 12px;
        display: grid;
        gap: 6px;
        position: absolute;
        visibility: hidden;
        width: 100%;
        
        &__option button{
            width: 100%;
            @include mixins.breakpoint('sm'){
                padding: 0;
                padding-block: 12px;
                padding-left: 10px;
                font-size: 12px;
            }
        }
    }
}