@use 'variables';
@use 'mixins';

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;
    @include mixins.breakpoint('sm'){
        height: auto;
        margin-bottom: 0;
    }

    .hero__content__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        max-width: 600px;
        z-index: 2;
    
        .hero__image__container{
            width: 100%;
            @include mixins.breakpoint('sm'){
                width: 70%;
            }
    
            img{
                display: block;
                width: 100%;
            }
        }

        .hero__text__container{
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;

            .hero__list{
                display: flex;
                flex-direction: column;
                gap: 16px;
                max-width: 500px;
                @include mixins.breakpoint('sm'){
                    max-width: 250px;
                }

                >li{
                    list-style: outside;
                }
            }
        }
    }

    &__video__container{
        position: absolute;
        width: 100%;
        height: 80%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        @include mixins.breakpoint('sm'){
            height: 70%;
        }
    }

    &__video__bg{
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.3;
        mask: linear-gradient(0deg, transparent,white);
    }
}