@use 'variables';


// Breakpoint mixin

@mixin breakpoint($user-value){
    $map: map-get(variables.$breakpoints, $user-value);

    @if $map{
        @media (#{$map}) {
            @content;
        }
    }@else{
        @error "Breakpoint '#{$user-value}' not found in $breakpoints map.";
    }

};

// Text mixin

    @mixin text($fontSize: 16px, $color: variables.$primary-color){
        font-size: $fontSize;
        color: $color;
        @include breakpoint('sm'){
            font-size: 14px
        }
    };

    // Title mixin

    @mixin title($fontSize: 32px){
        font-size: $fontSize;
        font-weight: 600;
        color: variables.$primary-color;
    };

    // Subtitle mixin

    @mixin subtitle($fontSize: 20px){
        font-size: $fontSize;
        font-weight: 400;
        color: variables.$primary-color;
    };

// Buttons mixin

@mixin button($bg-color: variables.$bg-gradient-dark, $color: variables.$primary-color, $border: variables.$border-color-dark){
    border: 1px solid transparent;
    background: $bg-color padding-box,
    $border border-box;
    border-radius: 4px;
    color: $color;
    transition: all 0.3s ease;
    position: relative;
    padding: 14px 16px;
    cursor: pointer;
    @include text;
    display: flex;
    align-items: center;
    gap: 8px;
    @include breakpoint('sm'){
        padding: 12px 14px;
    }

    &:hover{
        background: variables.$bg-gradient-light padding-box,
        variables.$border-color-light border-box;
    }
};

@mixin button-success{
    background: linear-gradient(120deg, #2AD755, #00C030, #2AD755,
    #00C030, #2AD755, #00C030, #2AD755);
    background-size: 500% 500%;
    transition: opacity 0.3s ease;
    border-radius: 4px;

    &:hover {
        animation: gradient 4s ease infinite;
        opacity: 1;
    }
};