@use 'variables' as v;
@use 'mixins' as m;
@use 'functions' as f;
@use 'animations';


.newsletter{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: f.rem(32);

    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: f.rem(32);

        p{
            text-align: center;
        }

        &__form{
            width: 400px;
            display: flex;
            flex-direction: column;
            gap: f.rem(16);
            @include m.breakpoint('sm'){
                width: 100%;
            }

            .input__container{
                position: relative;

                input{
                    background: transparent;
                    border: 1px solid v.$border-color-dark;
                    padding: 14px 16px;
                    font-size: f.rem(16);
                    border-radius: 4px;
                    outline: none;
                    width: 100%;
                    color: v.$primary-color;
                    outline: none;
                    width: 100%;
                    color: v.$primary-color;
                    transition: all 0.2s ease;
                }

                input ~ .error__text{
                    display: none;
                    color: v.$danger-color;
                    text-align: start;
                    margin-top: 8px;
                    font-size: f.rem(12);
                }

                input.error ~ .error__text{
                    display: block;
                }

                input.error{
                    border-color: v.$danger-color;
                }

                input:focus{
                    border-color: v.$border-color-light;
                }

                input.error:focus{
                    border-color: v.$danger-color;
                }

                label{
                    position: absolute;
                    left: 17px;
                    top: 15px;
                    color: v.$border-color-dark;
                    z-index: 3;
                    transition: all 0.1s ease;
                    cursor:text;
                }

                input.error + label{
                    color: v.$danger-color;
                }

                input:focus + label, input:not(:placeholder-shown) + label{
                    top: -8px;
                    font-size: f.rem(12);
                    color: v.$border-color-light;
                }

                input.error:focus + label, input.error:not(:placeholder-shown) + label{
                    color: v.$danger-color;
                }

                input:focus + label::after, input:not(:placeholder-shown) + label::after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    padding-inline: 6px;
                    height: 2px;
                    background: v.$bg-color-light;
                    bottom: 5px;
                    left: -6px;
                    z-index: -1;
                    transition: none;
                }

                input:-webkit-autofill{
                    -webkit-box-shadow: 0 0 0 30px v.$bg-color-light inset;
                    -webkit-text-fill-color: v.$primary-color;
                }
            }

            .btn__newsletter{
                width: 100%;
                justify-content: center;
                transition: all 0.3s ease;
                font-weight: 500;

                background: linear-gradient(120deg, #2AD755, #00C030, #2AD755,
                #00C030, #2AD755, #00C030, #2AD755);
                background-size: 500% 500%;
                border-radius: 4px;
        
                &:hover {
                    animation: gradient 4s ease infinite alternate;
                }
            }

            button[disabled]{
                font-weight: 400;
                background: darken($color: v.$success-color, $amount: 30%);
                color: rgb(255, 255, 255, 0.3);
                cursor: auto;
            }
        }
    }
}