@use 'variables' as v;
@use 'mixins' as m;
@use 'functions' as f;
@use 'animations';

.popup-requisition{
    z-index: 30;
    .popup__container{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: f.rem(24);

        .popup___close-btn{
            position: absolute;
            right: 24px;
            cursor: pointer;
        }

        .popup__first-part{
            display: flex;
            flex-direction: column;
            gap: f.rem(16);
        }

        .popup__second-part{
            display: flex;
            flex-direction: column;
            gap: f.rem(16);
        }

        .popup__btn__container{
            display: grid;
            gap: f.rem(16);
            grid-template-columns: 2fr 1fr;
            margin-top: 12px;

            button{
                justify-content: center;
            }

            .btn-plan{
                background: v.$bg-gradient-rainbow-linear-light-r padding-box,
                v.$bg-gradient-rainbow-linear-light-hover-r border-box;
                background-size: 1000% 1000%;
                animation: gradient 8s infinite alternate;
                justify-content: center;
                text-decoration: none;
            }

            .btn-ticket{
                background:none;
                border: 1px solid v.$border-color-dark;

                &:hover{
                    background-color: darken($color: v.$warning-color, $amount: 30%);
                    border: 1px solid v.$warning-color;
                    font-weight: 500;
                }
            }
        }
    }
}