@use 'variables';
@use 'mixins';

// Text styles

.title-sm{
    @include mixins.title(24px);
}

.title-md{
    @include mixins.title(32px);
}

.title-lg{
    @include mixins.title(48px);
}

.subtitle-sm{
    @include mixins.subtitle(16px);
}

.subtitle-md{
    @include mixins.subtitle(20px);
}

.subtitle-lg{
    @include mixins.subtitle(24px);
}

.text-sm{
    @include mixins.text(14px);
}

.text-md{
    @include mixins.text(16px);
}

.text-lg{
    @include mixins.text(18px);
}

.text-sm-light{
    @include mixins.text(14px, variables.$secondary-color);
}

.text-md-light{
    @include mixins.text(16px, variables.$secondary-color);
}

.text-lg-light{
    @include mixins.text(18px, variables.$secondary-color);
}

// Buttons

.btn-primary{
    @include mixins.button;
}

.btn-success{
    @include mixins.button(variables.$bg-gradient-success, variables.$primary-color);
    border: none;
}

.btn-danger{
    @include mixins.button(transparent, variables.$danger-color, 1px solid variables.$danger-color);
}

// Sizes

.section{
    padding: 20px 40px;
    margin: 0px auto;
    @include mixins.breakpoint('sm'){
        padding: 20px 15px;
    }
}

// Breakpoints

.sm-text-1{
    @include mixins.breakpoint('sm'){
        @include mixins.text(14px);
    };
}

.sm-text-2{
    @include mixins.breakpoint('sm'){
        @include mixins.text;
    };
}

.sm-text-3{
    @include mixins.breakpoint('sm'){
        @include mixins.text(18px);
    };
}

.md-text-1{
    @include mixins.breakpoint('md'){
        @include mixins.text(14px);
    };
}

.md-text-2{
    @include mixins.breakpoint('md'){
        @include mixins.text;
    };
}

.md-text-3{
    @include mixins.breakpoint('md'){
        @include mixins.text(18px);
    };
}

.sm-title-1{
    @include mixins.breakpoint('sm'){
        @include mixins.title(24px);
    };
}

.sm-title-2{
    @include mixins.breakpoint('sm'){
        @include mixins.title;
    };
}

.sm-title-3{
    @include mixins.breakpoint('sm'){
        @include mixins.title(48px);
    };
}

.md-title-1{
    @include mixins.breakpoint('md'){
        @include mixins.title(24px);
    };
}

.md-title-2{
    @include mixins.breakpoint('md'){
        @include mixins.title;
    };
}

.md-title-3{
    @include mixins.breakpoint('md'){
        @include mixins.title(48px);
    };
}

