// COLORS

$primary-color: #ebeff4;
$secondary-color: #B0B6BF;
$tertiary-color: #646B76;
$success-color: #2AD755;
$danger-color: #dc3545;
$warning-color: #F17911;

$bg-color-light: #14181c;
$bg-color-dark: #0d0f12;
$bg-gradient-light: linear-gradient(120deg, #69778B 0%, #5F6C7E 100%);
$bg-gradient-dark: linear-gradient(120deg, #373E49 0%, #2B3442 100%);
$bg-gradient-success: linear-gradient(120deg, #2AD755 0%, #00C030 100%);

$bg-gradient-rainbow-linear-light-b: linear-gradient(to bottom, rgb(14, 21, 53), rgb(13, 28, 33), rgb(47, 47, 47), rgb(69, 62, 17), rgb(64, 15, 15));
$bg-gradient-rainbow-linear-light-r: linear-gradient(to right, rgb(17, 26, 65), rgb(18, 38, 45), rgb(46, 46, 46), rgb(95, 77, 19), rgb(82, 17, 17));
$bg-gradient-rainbow-linear-light-hover-b: linear-gradient(to bottom, rgb(2, 33, 172), rgb(84, 147, 167), rgb(172, 172, 172), rgb(190, 161, 18), rgb(158, 1, 1));
$bg-gradient-rainbow-linear-light-hover-r: linear-gradient(to right, rgb(2, 33, 172), rgb(84, 147, 167), rgb(172, 172, 172), rgb(190, 161, 18), rgb(158, 1, 1));



$border-color-light: #B0B6BF;
$border-color-dark: #556576;

// TYPOGRAPHY

@font-face {
    font-family: 'SF Pro Display';
    src: url(/source/fonts/sf-pro-display_light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url(/source/fonts/sf-pro-display_regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url(/source/fonts/sf-pro-display_medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url(/source/fonts/sf-pro-display_semibold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url(/source/fonts/sf-pro-display_bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
}

$font-family: 'SF Pro Display', apple-system, Roboto, sans-serif;

// BREAKPOINTS

$breakpoints: (
    "sm": "max-width: 575px",
    "md": "(min-width: 576px) and (max-width: 991px)",
    "lg": "min-width: 992px",
);