@use 'variables' as v;
@use 'mixins' as m;
@use 'functions' as f;
@use 'animations';

.watch-anywhere{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 40px;
    @include m.breakpoint('sm'){
        margin-block: 0px;
    }

    h2{
        text-align: center;
    }

    &__container{
        display: flex;
        flex-direction: column;
        max-width: 1000px;
        gap: f.rem(16);
        margin-top: f.rem(32);
        align-items: center;

        .watch-anywhere__info{
            display: flex;
            
            .watch-anywhere__paragraphs__container{
                display: flex;
                flex-direction: column;
                gap: f.rem(32);
                max-width: 700px;
                justify-content: center;
                text-align: center;

                @include m.breakpoint('sm'){
                    max-width: 350px;
                    gap: f.rem(16);
                }

                @include m.breakpoint('md'){
                    max-width: 600px;
                }
            }
        }

        .watch-anywhere__plans{
            display: flex;
            gap: f.rem(64);
            width: fit-content;
            margin-top: 32px;

            @include m.breakpoint('sm'){
                flex-direction: column;
                gap: f.rem(32);
            }

            .plan__card{
                width: 300px;
                height: fit-content;
                padding: f.rem(32);
                display: flex;
                flex-direction: column;
                border-radius: 10px;
                transition: all 0.3s ease;
                position: relative;
                border: 2px solid transparent;

                &::before{
                    content: '';
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    border: 2px solid transparent;
                    border-radius: 50px;
                    bottom: 107px;
                    left: -22px;
                    clip-path: circle(71% at 100% 50%);
                }

                &::after{
                    content: '';
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    border: 2px solid transparent;
                    border-radius: 50px;
                    bottom: 107px;
                    left: calc(100% - 20px);
                    clip-path: circle(67% at 0% 50%);
                }

                @include m.breakpoint('sm'){
                    width: 270px;

                    &::before{
                        bottom: 102px;
                    }
                    &::after{
                        bottom: 102px;
                    }
                };

                &__title{
                    padding-bottom: f.rem(16);
                    border-bottom: 1px solid v.$primary-color;
                    @include m.breakpoint('sm'){
                        font-weight: 700;
                    }
                }

                &__advantages{
                    display: flex;
                    flex-direction: column;
                    gap: f.rem(24);
                    margin-top: f.rem(16);
                }

                &__price{
                    display: flex;
                    font-size: f.rem(32);
                    gap: f.rem(4);
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    margin-block: f.rem(32);

                    &::before{
                        content: '';
                        width: 20%;
                        height: 2px;
                        border-bottom: 2px dashed v.$secondary-color;
                    }
                    &::after{
                        content: '';
                        width: 20%;
                        height: 2px;
                        border-bottom: 2px dashed v.$secondary-color;
                    }

                    span{
                        font-weight: 400;
                        font-size: f.rem(16);
                        color: v.$secondary-color;
                    }
                }

                &__btn__container{
                    display: flex;
                    justify-content: center;
                    gap: f.rem(8);
                    width: 100%;

                    button:first-child{
                        @include m.button-success;
                        font-weight: 600;
                        width: 100%;
                    }

                    button{
                        justify-content: center;
                    }
                }
            }

            .plan__card.plan__cinephile{
                background: v.$bg-gradient-rainbow-linear-light-b padding-box,
                v.$bg-gradient-rainbow-linear-light-hover-b border-box;
                background-size: 1000% 1000%;
                animation: gradientY 8s ease infinite alternate;
                transform: rotateX((0deg));

                &::before{
                    background: linear-gradient(v.$bg-color-light, v.$bg-color-light) padding-box,
                    v.$bg-gradient-rainbow-linear-light-hover-b border-box;
                    background-size: 2000% 2000%;
                    animation: gradientY 8s ease infinite alternate;
                }

                &::after{
                    background: linear-gradient(v.$bg-color-light, v.$bg-color-light) padding-box,
                    v.$bg-gradient-rainbow-linear-light-hover-b border-box;
                    background-size: 2000% 2000%;
                    animation: gradientY 8s ease infinite alternate;
                }
            }

            .plan__card.plan__standart{
                background: v.$bg-gradient-dark padding-box,
                linear-gradient(v.$border-color-dark, v.$border-color-dark) border-box;

                &::before{
                    background: v.$bg-color-light;
                    border: 2px solid v.$border-color-dark;
                }

                &::after{
                    background: v.$bg-color-light;
                    border: 2px solid v.$border-color-dark;
                }
            }
        }
    }
}