@use 'reset';
@use 'variables';
@use 'mixins';
@use 'functions';
@use 'shortcuts';
@use 'header';
@use 'hero';
@use 'theaters';
@use 'watch-anywhere';
@use 'faq';
@use 'newsletter';
@use 'footer';

html{
    scroll-behavior: smooth;
}

body{
    background-color: variables.$bg-color-light;
    display: grid;
    gap: functions.rem(16);
}

svg{
    width: 15px;
    height: 15px;
    fill: variables.$primary-color;
}